.k12product-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}
.k12div{
    position: relative;
    background-color: #fff;
    padding-bottom: 5vh;
    padding-top: 2vh;
}
.see-more{
    text-align: center;
    margin-left: 1vw;
}
.see-more a{
    color: #fff;
    text-decoration: none;
    background-color: #1F4180;
    padding: 1vh 1vw;
    border-radius: 15px;
    font-size: 1.5rem;
}
.k12products{
    flex: 1 1 100px;
}
.k12background{
    position: absolute;
    bottom: 0;
}