
#scrollToTopBtn {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    right: 1%;
    bottom: 3%;
    width: 48px;
  }