.k12-Container{
    width: 60vw;
    margin: auto;
}
.k12-Container .k12-title{
    color: #1F4180;
    font-weight: bold;
}

.Edetech-title{
    text-align: start;
    color: #1F4180;
    font-weight: 800;
}

.edetech-products p{
    font-weight: bold;
    text-align: start;
}
.edetech-products a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: #1F4180;
    padding: 1vh 1vw;
    border-radius: 15px;
}
.k12-Container img{
    width: 300px;
    min-width: 300px;
    height: auto;
}

.edetech-products{
    display: flex;
    margin-top: 4vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
}