.item{
    width: 80%;
    display: block;
    margin: auto;
    height: 80%;
}
.item img{
    object-fit: cover;
}

#partner1{
    width: 15vw;
    height: auto;
    padding-top: 5vh;
}
#partner2{

    width: 15vw;
    height: auto;
}
#partner3{

    width: 15vw;
    height: auto;
}
#partner4{

    width: 15vw;
    height: auto;
}
#partner5{
    width: 15vw;
    height: auto;
    padding-top:4vh;
}