.owlContainer{
    background-color: #fff;
    padding: 2vh 0;
    color: rgb(255, 255, 255);
    text-align: center;
}
.owl-theme{
    width: 80%;
    margin: auto;
}

.oitem{
    margin: auto;
    margin-bottom: 5vw;
    background-color: #1F4180;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 2vw 2vh;
    width: 60%;
}