.owlContainer{
    background-color: #fff;
    padding: 3vw 0;
    color: black;
    text-align: center;
}
.owl-theme{
    width: 80%;
    margin: auto;
}

.oitem{
    margin: auto;
    background-color: #F7F7F7;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2vw 2vh;
    width: 60%;
}