
#title-logo-style{
    color: #1F4180;
}
#my-logo{
    transition: 500ms;
}
.container-fluid{
    position: relative;
    height: 3vw;
    min-height: 75px;
}
#my-navbar{
    transition: 500ms;
    height: 13vh;
}
#flexiblenav{
    transition: 500ms;
}

.navbar-custom{
    background-color: #4DA6FF;
}
.container-fluid img{
        width: 15vw;
        /* min-width: 250px; */
        margin-left: 2vw;
}
.nav-link:hover{
    border-radius: 10px;
}
.navbar-nav > li{
    font-size: 1.15rem;
    padding-left:0.5vw;
    font-weight: bold;
    padding-right:0.5vw;
}
#navhome{
    color: #1F4180;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0.2vh 1vw;
    transition: 500ms;
}
#navhome:hover
{
    background-color: #1F4180;
    color: white;
}

#navcourse{
    margin-right: 5%;
    color: #1F4180;
    padding: 0.2vh 1vw;
}

#navcourse:hover{
    background-color: #1F4180;
    color: white;
}

#navcareer{
    margin-right: 5%;
    color: #1F4180;
    padding: 0.2vh 1vw;
}

#navcareer:hover{
    background-color: #1F4180;
    color: white;
}

#navcontact{
    color: #1F4180;
    position: relative;
    padding: 0.2vh 1vw;
}

#navcontact:hover{
    background-color: #1F4180;
    color: white;
}


#navproduct{
    color: #1F4180;
    position: relative;
    padding: 0.2vh 1vw;
}

#navproduct:hover{
    background-color: #1F4180;
    color: white;
}

#navwhyus{
    color: #1F4180;
    position: relative;
    padding: 0.2vh 1vw;
}

#navwhyus:hover{
    background-color: #1F4180;
    color: white;
}

#navourteam{
    color: #1F4180;
    position: relative;
    padding: 0.2vh 1vw;
}

#navourteam:hover{
    background-color: #1F4180;
    color: white;
}


#navbarSupportedContent {
    color: white;
}

@media screen and (max-width:990px){
    
.navbar-internal{
    background-color: white;
}
}